*{
    padding: 0px;
    margin: 0px;
}

body{
    display: block;
    background-image: url(../assets/patron.png);
}

.agrupar{
    width: 1100px;
    margin: 15px auto;
    text-align: left;
    background: rgba(20, 68, 156, 0.493);
    border: 2px solid rgb(255, 255, 255);
}

header{
    background-image: url(../assets/header.jpg);
    width: auto;
    height: 150px;
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    font-size: 25px;
}

.ancho{
    width: 100%;
    height: 70px;
    /*background: rgba(0, 0, 0, 0.808);*/ /*Evitar que se muestre con un comentario*/
    margin: auto;
}

.logo{
    width: 30%;
    height: 70px;
    /*background: rgb(139, 125, 125);*/ /*Evitar que se muestre con un comentario*/
    float: left;
    padding-top: 10px;
    /*Para que el contenedor se adapte a su contenido*/
    box-sizing: border-box;
}

.logo p a{
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-decoration: none;
    /*Letras en negrilla*/
    font-weight: bold;
    /*Espacio entre letras*/
    letter-spacing: 1px;
    font-family: rale;
}
nav{
    width: 70%;
    height: 70px;
    /*background: olivedrab;*/ /*Evitar que se muestre con un comentario*/
    float: left;
    text-align: right;
    padding: 20px;
    /*Forzar que ocupe la medida que se establecio*/
    box-sizing: border-box;
}

nav ul a{
    color: white;
    font-size: 20px;
    border-bottom: 3px solid rgb(54, 54, 61);
    text-decoration: none;
    /*Transformar texto a letras mayusculas, lo dejo aquí solo por aprender*/
    *text-transform: uppercase;
    padding left: 15px;
    /*Letras en negrilla*/
    font-weight: bold;
    /*Espacio entre letras*/
    letter-spacing: 1px;
    font-family: rale;
}

nav ul a:hover{
    color: rgb(226, 17, 209);
}

/*Definir fuente externo*/
@font-face{
    font-family: rale;
    src: url(fuentes/Raleway-Regular.ttf);
}

.tabla{
    float: left;
    width: 660px;
    margin: 20px;
    border: 1px solid #000;
}

.tabla th, td{
    border: 1px solid black;
    border-collapse: collapse;
    
    padding: 20px;
    text-align: left;
    font-size: 15px;
}

th{
    color: white;
    background-color: rgb(0, 0, 0);
}
td{
    background-color: rgba(50, 156, 205, 0.712);
}

.columna{
    width: 120px;
    float: right;
    text-align: center;
    padding: 20px;
    background: rgba(69, 128, 238, 0.925);
    font-size: 15px;
    margin: 20px;
}

footer{
    clear: both;
    text-align: center;
    padding: 20px;
    margin: 20px 0px 0px 0px;
    border-top: 2px solid #000;
    background: rgba(3, 74, 167, 0.87);
    font-size: 20px;
}